.wrapper {
  background-color: hsl(216, 50%, 16%);
  border-radius: 2rem;
  box-shadow: 0 1rem 1rem 0.3rem hsl(217, 51%, 8%);
  padding: 2rem;
  width: clamp(350px, 80%, 400px);
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: clamp(350px, 80%, 350px);
  }
}
