.wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  overflow: hidden;
  width: clamp(350px, 90vw, 600px);
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: clamp(250px, 50%, 300px);
  }
}
